# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
__pycache__*
py_ctp/dll/log*/*
log*/*
py_at/dll/*
py_at/log*/
py_ctp/log*/
private*/
py_at/orders.csv
py_ctp/ctp_data_type.py
py_at/tmp.html
web_flask/log*/
orders.csv
./log/*.*
strategies/send.py
report*/
.vscode*/
/.vscode/settings.json
/render.html
strategies*/
/r.html
.vscode*/
hfpy.egg-info/
dist/
config_real.yml
